services:
  backend:
    build:
      context: ./backend
    ports:
      - "8080:8080"
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: http://localhost:8080
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always